<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaMarcaController</servlet-name>
        <servlet-class>controller.PesquisaMarcaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaModeloController</servlet-name>
        <servlet-class>controller.PesquisaModeloController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCarroController</servlet-name>
        <servlet-class>controller.PesquisaCarroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaContaBancoController</servlet-name>
        <servlet-class>controller.PesquisaContaBancoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterMarcaController</servlet-name>
        <servlet-class>controller.ManterMarcaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterEnderecoController</servlet-name>
        <servlet-class>controller.ManterEnderecoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterModeloController</servlet-name>
        <servlet-class>controller.ManterModeloController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaEnderecoController</servlet-name>
        <servlet-class>controller.PesquisaEnderecoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaClienteController</servlet-name>
        <servlet-class>controller.PesquisaClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterClienteController</servlet-name>
        <servlet-class>controller.ManterClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <servlet-class>controller.ManterFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterContaBancoController</servlet-name>
        <servlet-class>controller.ManterContaBancoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCarroController</servlet-name>
        <servlet-class>controller.ManterCarroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaEstacionamentoController</servlet-name>
        <servlet-class>controller.PesquisaEstacionamentoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaMarcaController</servlet-name>
        <url-pattern>/PesquisaMarcaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaModeloController</servlet-name>
        <url-pattern>/PesquisaModeloController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCarroController</servlet-name>
        <url-pattern>/PesquisaCarroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaContaBancoController</servlet-name>
        <url-pattern>/PesquisaContaBancoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterMarcaController</servlet-name>
        <url-pattern>/ManterMarcaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterEnderecoController</servlet-name>
        <url-pattern>/ManterEnderecoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterModeloController</servlet-name>
        <url-pattern>/ManterModeloController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaEnderecoController</servlet-name>
        <url-pattern>/PesquisaEnderecoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaClienteController</servlet-name>
        <url-pattern>/PesquisaClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterClienteController</servlet-name>
        <url-pattern>/ManterClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <url-pattern>/ManterFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterContaBancoController</servlet-name>
        <url-pattern>/ManterContaBancoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCarroController</servlet-name>
        <url-pattern>/ManterCarroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaEstacionamentoController</servlet-name>
        <url-pattern>/PesquisaEstacionamentoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
